body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



/* #region header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 76px;
}

.page-logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-logo-header-web {
    color: #4D5AE5;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-item-link {
    display: block;
    padding: 24px 0px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: #404BBF;
}

.nav-list-link-active{
    color: #404BBF;
}

.nav-list-link-active::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;


}

.page-address {
 font-style: normal;
}

.address-list {

    display: flex;
    gap: 40px;
}


.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}


/* #endregion header */

/* #region hero section */

.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient( to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 188px 0px;
    max-width: 1440px;
    margin: 0 auto;
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero section */

/* #region about section */

.features-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;

}

.features-list {
display: flex;
gap: 24px;


}
 
.features-list-item {
    width: calc((100% - 72px) / 4);

}

.features-icon {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.features-icon svg {
    display: block;
    margin: 24px auto;
}

.features-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.features-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
/* #endregion about section */

/* #region team section */

.team-section {
background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-list-card {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column; 
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-title-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px; 
    padding: 32px 16px;
}

.team-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.social-icon-list {
    display: flex;
    gap: 24px; 
}

.social-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404BBF;
}

/* #endregion team section */

/* #region portfolio section */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-list-card {
    display: flex;
    flex-direction: column;  
    width: 360px;
    /* flex-basis: calc((100% - 1080px) / 3); */
}

.portfolio-card-img-container {
    position: relative;
    overflow: hidden;
    
}


.portfolio-card-overlay {
    display: flex;
    padding: 40px 32px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transform:translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-card{
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-list-card:hover,
.portfolio-list-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-card:hover .portfolio-card-overlay,
.portfolio-list-card:focus .portfolio-card-overlay {
    transform: translateY(0);
}

.portfolio-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.portfolio-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/* #endregion portfolio section */

/* #region footer section */
.footer-section {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-section-container {
    display: flex;
    gap: 120px;
    align-items: baseline;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.page-logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;


}

.page-logo-footer-web {
    color: #4D5AE5;
}

.footer-logo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-social-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.footer-social-icon-list {
    display: flex;
    gap: 16px;
}

.footer-social-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: #31D0AA;
}
/* #endregion footer section */